<a href="https://colab.research.google.com/github/dilsh9810/Garden_Pro_Mobile_App/blob/AI-Model/Crop_Prediction.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**DECISION TREE** **CLASSIFIER** **MODEL**

In [11]:
#import libraries related to machine learning

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import train_test_split

In [2]:
df = pd.read_csv("Gardening Crops.csv")

In [3]:
x = df.iloc[:,:].values
z = pd.DataFrame(x)

In [4]:
#Convert categorical data into numerical data

from sklearn.preprocessing import LabelEncoder, OneHotEncoder

labelencoder_x = LabelEncoder()

x[:,1] = labelencoder_x.fit_transform(x[:,1])

z = pd.DataFrame(x)

In [5]:
from sklearn.preprocessing import LabelEncoder, OneHotEncoder

labelencoder_x = LabelEncoder()

x[:,3] = labelencoder_x.fit_transform(x[:,3])

z = pd.DataFrame(x)

In [6]:
from sklearn.preprocessing import LabelEncoder, OneHotEncoder

labelencoder_x = LabelEncoder()

x[:,4] = labelencoder_x.fit_transform(x[:,4])

z = pd.DataFrame(x)

In [ ]:
z.head()

         0  1    2   3  4      5        6
0  31.1234  0  6.5  30  0  0.025  Raddish
1  31.0239  1    6  30  0  0.026  Raddish
2  29.0756  2    7  27  2  0.027  Raddish
3  31.0761  0  7.5  30  0  0.028  Raddish
4  31.1654  0  6.8  30  0  0.029  Raddish

In [7]:
#split the modified dataset into the target variable
y = z.iloc[:,-1]

In [8]:
x = z.iloc[:,0:6]

In [31]:
#Build a decisionTree Model

x_train,x_test,y_train,y_test = train_test_split(x,y, test_size=0.2, random_state=1)

In [32]:
print(x_train)
print(y_train)
print(y_test)

[[32.1562081 0 8.8 ... 'High' 12.0 'Rampe']
 [33.2779721 0 7.0 ... 'High' 201.0 'Papaya']
 [35.277187100000006 0 10.5 ... 'High' 3.54 'Okra']
 ...
 [33.0132398 0 7.5 ... 'Moderate' 32.0 'Guava']
 [30.217336699999997 0 6.5 ... 'High' 102.0 'Rambutan']
 [29.371772399999998 0 6.0 ... 'Moderate' 0.0425 'Beans']]
170           Rampe
159          Papaya
181            Okra
147    Mangoostenes
150         Avacado
           ...
137         Cassava
72           Chilli
140           Guava
235        Rambutan
37            Beans
Name: 6, Length: 198, dtype: object
67       Winged  Beans
247             Carrot
210             Kohila
224             Orange
90            Gotukola
222               Lime
58       Ridged Gouard
127           Brinjals
179               Okra
4              Raddish
78              Kankun
85         Mukunuwenna
95        Sweet Potato
112             Ginger
174           Cinnamon
160             Papaya
183             Pepper
51        Snake Gouard
27            Cucumber
73              Chilli
223             Orange
34             Pumpkin
117     Kathurumurunga
185             Pepper
119     Kathurumurunga
118     Kathurumurunga
244             Carrot
123           Brinjals
38               Beans
214    Thumba Karawila
206           Ela batu
44              Squash
62       Winged  Beans
207           Ela batu
102            Spinach
138              Guava
39               Beans
31             Pumpkin
18              Tomato
241         Pani Dodam
120     Kathurumurunga
19              Tomato
187             Pepper
230         Star Fruit
33             Pumpkin
91            Gotukola
35             Pumpkin
11        Bitter Guard
29            Cucumber
0              Raddish
Name: 6, dtype: object

In [33]:
#Build a decisionTreeClassifier object

dtclf = DecisionTreeClassifier()

#Train a decisionTree Model

dtclf.fit(x_train,y_train)

y_predict = dtclf.predict(x_test)

print(y_predict)

ValueError: ignored

**Naive Bayes Classifier Algorithm**

In [13]:
df = pd.read_csv("Gardening Crops.csv")

In [14]:
df.head()

   Temperature     Sunlight   PH  ... Water level Space (m2)     Label
0    31.123421     Full Sun  6.5  ...        High       0.025  Raddish
1    31.023871    Full Sun   6.0  ...        High       0.026  Raddish
2    29.075632  Partial Sun  7.0  ...    Moderate       0.027  Raddish
3    31.076125     Full Sun  7.5  ...        High       0.028  Raddish
4    31.165421     Full Sun  6.8  ...        High       0.029  Raddish

[5 rows x 7 columns]

In [20]:
X = df.iloc[:,:].values
Z = pd.DataFrame(x)

print(X)
print(Z)

[[31.1234212 'Full Sun' 6.5 ... 'High' 0.025 'Raddish']
 [31.0238712 'Full Sun ' 6.0 ... 'High' 0.026000000000000002 'Raddish']
 [29.0756321 'Partial Sun' 7.0 ... 'Moderate' 0.027000000000000003
  'Raddish']
 ...
 [19.3781573 'Partial Sun' 8.0 ... 'High' 2.05 'Carrot']
 [20.3781573 'Partial Sun' 9.0 ... 'High' 3.05 'Carrot']
 [21.3781573 'Partial Sun' 10.0 ... 'High' 4.05 'Carrot']]
           0  1    2                           3         4      5        6
0    31.1234  0  6.5    Well-drained Sandy  Soil      High  0.025  Raddish
1    31.0239  1    6    Well-drained Sandy  Soil      High  0.026  Raddish
2    29.0756  2    7  Well-drained Carbonic Soil  Moderate  0.027  Raddish
3    31.0761  0  7.5    Well-drained Sandy  Soil      High  0.028  Raddish
4    31.1654  0  6.8    Well-drained Sandy  Soil      High  0.029  Raddish
..       ... ..  ...                         ...       ...    ...      ...
243  17.3782  2    6   Carbonic Loamy Sandy Soil      High   0.05   Carrot
244  18.3782  2    7   Carbonic Loamy Sandy Soil      High   1.05   Carrot
245  19.3782  2    8   Carbonic Loamy Sandy Soil      High   2.05   Carrot
246  20.3782  2    9   Carbonic Loamy Sandy Soil      High   3.05   Carrot
247  21.3782  2   10   Carbonic Loamy Sandy Soil      High   4.05   Carrot

[248 rows x 7 columns]

In [21]:
from sklearn.preprocessing import LabelEncoder, OneHotEncoder

labelencoder_X = LabelEncoder()

X[:,1] = labelencoder_x.fit_transform(X[:,1])

Z = pd.DataFrame(X)

print(Z)

           0  1    2                           3         4      5        6
0    31.1234  0  6.5    Well-drained Sandy  Soil      High  0.025  Raddish
1    31.0239  1    6    Well-drained Sandy  Soil      High  0.026  Raddish
2    29.0756  2    7  Well-drained Carbonic Soil  Moderate  0.027  Raddish
3    31.0761  0  7.5    Well-drained Sandy  Soil      High  0.028  Raddish
4    31.1654  0  6.8    Well-drained Sandy  Soil      High  0.029  Raddish
..       ... ..  ...                         ...       ...    ...      ...
243  17.3782  2    6   Carbonic Loamy Sandy Soil      High   0.05   Carrot
244  18.3782  2    7   Carbonic Loamy Sandy Soil      High   1.05   Carrot
245  19.3782  2    8   Carbonic Loamy Sandy Soil      High   2.05   Carrot
246  20.3782  2    9   Carbonic Loamy Sandy Soil      High   3.05   Carrot
247  21.3782  2   10   Carbonic Loamy Sandy Soil      High   4.05   Carrot

[248 rows x 7 columns]

In [23]:
labelencoder_X = LabelEncoder()

X[:,3] = labelencoder_X.fit_transform(X[:,3])

Z = pd.DataFrame(X)


X[:,4] = labelencoder_X.fit_transform(X[:,4])

Z = pd.DataFrame(X)


print(Z)

           0  1    2   3  4      5        6
0    31.1234  0  6.5  30  0  0.025  Raddish
1    31.0239  1    6  30  0  0.026  Raddish
2    29.0756  2    7  27  2  0.027  Raddish
3    31.0761  0  7.5  30  0  0.028  Raddish
4    31.1654  0  6.8  30  0  0.029  Raddish
..       ... ..  ...  .. ..    ...      ...
243  17.3782  2    6   0  0   0.05   Carrot
244  18.3782  2    7   0  0   1.05   Carrot
245  19.3782  2    8   0  0   2.05   Carrot
246  20.3782  2    9   0  0   3.05   Carrot
247  21.3782  2   10   0  0   4.05   Carrot

[248 rows x 7 columns]

In [24]:
X1 = Z.iloc[:,0:6]

Y = Z.iloc[:,-1]

print(X1)
print(Y)

           0  1    2   3  4      5
0    31.1234  0  6.5  30  0  0.025
1    31.0239  1    6  30  0  0.026
2    29.0756  2    7  27  2  0.027
3    31.0761  0  7.5  30  0  0.028
4    31.1654  0  6.8  30  0  0.029
..       ... ..  ...  .. ..    ...
243  17.3782  2    6   0  0   0.05
244  18.3782  2    7   0  0   1.05
245  19.3782  2    8   0  0   2.05
246  20.3782  2    9   0  0   3.05
247  21.3782  2   10   0  0   4.05

[248 rows x 6 columns]
0      Raddish
1      Raddish
2      Raddish
3      Raddish
4      Raddish
        ...
243     Carrot
244     Carrot
245     Carrot
246     Carrot
247     Carrot
Name: 6, Length: 248, dtype: object

**Create Train Test Model in Classification**

In [36]:
X1_train,X1_test,Y_train,Y_test = train_test_split(X1,Y, test_size = 0.5, random_state = 1)


print(X1_test)
print(X1_train)

           0  1    2   3  4      5
67   29.5883  2  4.2   9  1   0.41
247  21.3782  2   10   0  0   4.05
210  35.7103  2    8  21  2   2.09
224  28.3103  0    8   2  0     17
90   34.2772  0  6.7   7  0  0.045
..       ... ..  ...  .. ..    ...
12   26.1235  2    6  27  1   1.51
164  28.2412  2  7.4   7  2     17
227  31.3103  0   11   2  0     20
225  29.3103  0    9   2  0     18
226  30.3103  0   10   2  0     19

[124 rows x 6 columns]
           0  1    2   3  4       5
193  30.1572  0    6  17  2       5
242   34.278  0    9  11  0      24
180  34.2772  0  9.5  12  0    2.54
81   32.2652  2  6.2   3  2    1.82
124  30.5372  2  6.8   1  2    1.81
..       ... ..  ...  .. ..     ...
137  32.2432  1   10  11  0    4.81
72   27.2432  2  6.5  16  2    0.36
140  33.0132  0  7.5  11  2      32
235  30.2173  0  6.5  17  0     102
37   29.3718  0    6  17  2  0.0425

[124 rows x 6 columns]

In [37]:
from sklearn.naive_bayes import GaussianNB

gnb = GaussianNB()

gnb.fit(X1_train, Y_train)

Predict = gnb.predict(X1_test)

print(Predict)

['Winged  Beans' 'Carrot' 'Kohila' 'Ridged Gouard' 'Snake Gouard' 'Lime'
 'Ridged Gouard' 'Brinjals' 'Okra' 'Raddish' 'Kankun' 'Raddish'
 'Snake Gouard' 'Ginger' 'Cinnamon' 'Papaya' 'Thibbatu' 'nol khol'
 'Ridged Gouard' 'Chilli' 'Ridged Gouard' 'Ridged Gouard' 'nol khol'
 'Thibbatu' 'nol khol' 'nol khol' 'Carrot' 'Brinjals' 'Ginger'
 'Thumba Karawila' 'Ela batu' 'Squash' 'Winged  Beans' 'Ela batu'
 'Spinach' 'Guava' 'Snake Gouard' 'Ridged Gouard' 'Beans' 'Pani Dodam'
 'nol khol' 'Beans' 'Thibbatu' 'Star Fruit' 'Ridged Gouard' 'Snake Gouard'
 'Cassava' 'Ridged Gouard' 'Ridged Gouard' 'Raddish' 'Star Fruit' 'Papaya'
 'Okra' 'Mangoostenes' 'Avacado' 'Ginger' 'Beans' 'Ridged Gouard'
 'Ridged Gouard' 'Rambutan' 'Rambutan' 'Innala' 'Ridged Gouard'
 'Pani Dodam' 'Squash' 'Thibbatu' 'Ridged Gouard' 'Turmeric'
 'Thumba Karawila' 'Innala' 'Snake Gouard' 'Star Fruit' 'Rambutan'
 'Ginger' 'Cinnamon' 'Innala' 'Karapincha' 'Avacado' 'Carrot'
 'Snake Gouard' 'Bitter Guard' 'Papaya' 'Capsicum' 'Ridged Gouard'
 'Thumba Karawila' 'Cassava' 'Innala' 'Mukunuwenna' 'Ridged Gouard'
 'Sarana' 'Cinnamon' 'Turmeric' 'Star Fruit' 'Ridged Gouard'
 'Ridged Gouard' 'Raddish' 'Thibbatu' 'Thibbatu' 'Squash' 'Sarana'
 'Winged  Beans' 'Ridged Gouard' 'Lime' 'Avacado' 'nol khol'
 'Ridged Gouard' 'nol khol' 'Snake Gouard' 'Star Fruit' 'nol khol' 'Beans'
 'Star Fruit' 'Snake Gouard' 'Ridged Gouard' 'Thibbatu' 'Innala' 'Kohila'
 'Beans' 'Star Fruit' 'Ridged Gouard' 'Karapincha' 'Ridged Gouard'
 'Ridged Gouard' 'Ridged Gouard']

In [42]:
print(Y_test)
print(X1_train)

67     Winged  Beans
247           Carrot
210           Kohila
224           Orange
90          Gotukola
           ...
12      Bitter Guard
164       Karapincha
227           Orange
225           Orange
226           Orange
Name: 6, Length: 124, dtype: object
           0  1    2   3  4       5
193  30.1572  0    6  17  2       5
242   34.278  0    9  11  0      24
180  34.2772  0  9.5  12  0    2.54
81   32.2652  2  6.2   3  2    1.82
124  30.5372  2  6.8   1  2    1.81
..       ... ..  ...  .. ..     ...
137  32.2432  1   10  11  0    4.81
72   27.2432  2  6.5  16  2    0.36
140  33.0132  0  7.5  11  2      32
235  30.2173  0  6.5  17  0     102
37   29.3718  0    6  17  2  0.0425

[124 rows x 6 columns]

In [30]:
print(Predict)

['Winged  Beans' 'Carrot' 'Kohila' 'Ridged Gouard' 'Snake Gouard' 'Lime'
 'Ridged Gouard' 'Brinjals' 'Okra' 'Raddish' 'Kankun' 'Raddish'
 'Snake Gouard' 'Ginger' 'Cinnamon' 'Papaya' 'Thibbatu' 'nol khol'
 'Ridged Gouard' 'Chilli' 'Ridged Gouard' 'Ridged Gouard' 'nol khol'
 'Thibbatu' 'nol khol' 'nol khol' 'Carrot' 'Brinjals' 'Ginger'
 'Thumba Karawila' 'Ela batu' 'Squash' 'Winged  Beans' 'Ela batu'
 'Spinach' 'Guava' 'Snake Gouard' 'Ridged Gouard' 'Beans' 'Pani Dodam'
 'nol khol' 'Beans' 'Thibbatu' 'Star Fruit' 'Ridged Gouard' 'Snake Gouard'
 'Cassava' 'Ridged Gouard' 'Ridged Gouard' 'Raddish' 'Star Fruit' 'Papaya'
 'Okra' 'Mangoostenes' 'Avacado' 'Ginger' 'Beans' 'Ridged Gouard'
 'Ridged Gouard' 'Rambutan' 'Rambutan' 'Innala' 'Ridged Gouard'
 'Pani Dodam' 'Squash' 'Thibbatu' 'Ridged Gouard' 'Turmeric'
 'Thumba Karawila' 'Innala' 'Snake Gouard' 'Star Fruit' 'Rambutan'
 'Ginger' 'Cinnamon' 'Innala' 'Karapincha' 'Avacado' 'Carrot'
 'Snake Gouard' 'Bitter Guard' 'Papaya' 'Capsicum' 'Ridged Gouard'
 'Thumba Karawila' 'Cassava' 'Innala' 'Mukunuwenna' 'Ridged Gouard'
 'Sarana' 'Cinnamon' 'Turmeric' 'Star Fruit' 'Ridged Gouard'
 'Ridged Gouard' 'Raddish' 'Thibbatu' 'Thibbatu' 'Squash' 'Sarana'
 'Winged  Beans' 'Ridged Gouard' 'Lime' 'Avacado' 'nol khol'
 'Ridged Gouard' 'nol khol' 'Snake Gouard' 'Star Fruit' 'nol khol' 'Beans'
 'Star Fruit' 'Snake Gouard' 'Ridged Gouard' 'Thibbatu' 'Innala' 'Kohila'
 'Beans' 'Star Fruit' 'Ridged Gouard' 'Karapincha' 'Ridged Gouard'
 'Ridged Gouard' 'Ridged Gouard']